@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

.abc {
  /* background-color: black; */
  /* background-image: linear-gradient( 109.6deg,  rgba(0,0,0,1) 11.2%, rgba(51,8,103,1) 92.5% ); */
  color:white;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.table,tr,th,td{
  color: white;
}

.header
{
  text-align: center;
  text-decoration: underline;
  color: coral;
}

.container{
  margin: 0;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
  padding: 50px;
}

.money.plus {
  background-color: #2ecc71;
}

.money.minus {
  background-color: #c0392b;
}
.plus {
  /* border-top: 5px solid green; */
  background-color: #2ecc71;
  /* background-image: linear-gradient(to bottom right, green, white); */
}

.minus {
  /* border-top:5px solid red; */
  background-color: #c0392b;
  /* background-image: linear-gradient(to bottom right, red, white); */

}
.false{display: none;}
label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: coral;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.delete-btn-plus {
  cursor: pointer;
  background-color: #2ecc71; 
  border: 0;
  line-height: 20px;
  /* padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease; */
}
.delete-btn-minus {
  cursor: pointer;
  background-color: #e74c3c; 
  border: 0;
  line-height: 20px;
  /* padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease; */
}

.balance{
  text-align: center;
}

.list tr:hover .delete-btn {
  opacity: 1;
}
.image
{
  width: 20px;
  height: 30px;
}